---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'
import { siteConfig } from '@/site-config'

interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
	articleDate?: Date;
}

const {
	title = siteConfig.title,
	description = siteConfig.description,
	ogImage,
	articleDate
} = Astro.props;
---

<html lang={siteConfig.lang} class="scroll-smooth">
	<head>
		<BaseHead articleDate={articleDate?.toISOString()} description={description} ogImage={ogImage} title={title} />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-K51JGWEES3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-K51JGWEES3');
		</script>
	</head>

	<body class="bg-background text-foreground font-sans antialiased">
		<ThemeProvider />
		<div class="flex min-h-screen flex-col px-4 sm:px-6 md:px-8">
			<Header />
			<main class="flex-1 w-full max-w-6xl mx-auto py-10">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

